.main-container{
  max-width: 1200px;
  margin: auto;
}
.main-title{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
