.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .left, .carousel .right{
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  font-size: 2rem;
  background: rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
}

.loading{
  text-align: center;
}
