.form-container{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyword{
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-right: 0px;
  font-size: 14px;
}
.keyword:focus{
  outline: none;
}

.go{
  background: none;
  border: 1px solid #ccc;
  /* height: 30px; */
  display: flex;
  align-items: center;
  padding: 5px;
  border-left: 0px;
}