.carousel-item{
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}
.carousel-item img{
  width: 100%;
}

.close-modal{
  background: transparent;
  border: 0px;
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  top: -2rem;
  right: -2rem;
  cursor: pointer;
}