.carousel-content{ 
  display: grid;
  /*grid-auto-columns: 1fr;
  grid-auto-flow: column;*/
  min-width: 70%;
  max-width: 70%;
  text-align: center;
}

.carousel-content-1{
  grid-template-columns: repeat(1, 1fr)
}
.carousel-content-2{
  grid-template-columns: repeat(2, 1fr)
}
.carousel-content-4{
  grid-template-columns: repeat(4, 1fr)
}